.container-fluid {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background: linear-gradient(to bottom, #009688 20%, #d9dbd4 20%);
}

.borders {
  border: 1px solid black;
}

main {
  width: 80%;
  height: 80%;
}

.left-side,
.right-side {
  height: 100%;
}

.pointer {
  cursor: pointer;
}
/* LATO SINISTRO */
.left-side {
  width: 40%;
}

#avatar,
#notifications {
  height: 10%;
}

#avatar {
  background-color: #eaeaea;
}

#avatar img {
  width: 15%;
  border-radius: 1rem;
}

.fa-circle,
.fa-message,
.fa-ellipsis-vertical {
  color: #b1b1b1;
}

#notifications {
  background-color: #8edafc;
}

.fa-bell-slash {
  border: 10px solid white;
  border-radius: 2rem;
}

#notifications-title {
  font-size: 12px;
}

#notifications-text {
  font-size: 10px;
}

#search {
  height: 5%;
  background-color: white;
}

.search-input {
  height: 80%;
  width: 80%;
  border: none;
}

.fa-search {
  color: #b1b1b1;
  font-size: 14px;
}

#contact-list {
  height: 75%;
  background-color: #e3dbd3;
  overflow-y: auto;
}

#contact {
  height: 20%;
  width: 100%;
  background-color: white;
  cursor: pointer;
}

#contact:hover {
  background-color: #e9ebeb;
}
.contact-avatar img {
  height: 60%;
  border-radius: 2rem;
  margin: 5px 10px;
}

.contact-info {
  height: 100%;
  width: 100%;
  margin-left: 10px;
}
.contact-name {
  font-size: 20px;
}
.time {
  font-size: 10px;
  margin: 10px 10px;
}

#last-message {
  font-size: 10px;
}
/* LATO DESTRO */
.right-side {
  width: 60%;
}

#chat-header,
#chat-footer {
  height: 10%;
  background-color: #eaeaea;
}

#chat-main {
  height: 80%;
  background-color: #dfd7d0;
}
